<section id="stories" class="bg-[#f4f0ec] m-0">
    <div class="w-full">
        <div class="content w-full px-[80px]">
            {% if section.settings.heading != blank %}
            <h2 class="pt-[80px] pb-[35px] text-right text-[45px] leading-[62.1px] uppercase font-compacta font-normal">{{section.settings.heading}}</h2>
            {% endif %} 
            
              <div class="flex justify-between items-start flex-wrap">
                {% for block in section.blocks %}
            <div class="story {% if forloop.index > 1 %}w-[48%] {% else %}w-full{% endif %}">
                <div class="story-image w-full">
                    <img class="w-full" src="{{block.settings.image | img_url: 'master' }}" alt="" />
                </div>
                <div class="story-content my-[44px] ">
                    <h3 class="text-[32px] leading-[38px] uppercase font-compacta font-normal ">{{block.settings.story-title}}</h3>
                    <p class="text-[22px] leading-[26px] capitalize font-kepler font-semibold mt-[20px] ">{{block.settings.sub-title}}</p>
                    <a href="{{block.settings.url}}" class="text-[24px] leading-[29px] uppercase font-tungsten font-semibold mt-[20px]">{{block.settings.read-story}}</a>
                </div>
            </div>
          {% endfor %}
          </div>
            <a class="h-[75px] bg-[#242d2d] text-white font-tungsten font-light text-[32px] leading-[50px] uppercase mt-[80px] mx-auto mb-0 w-full max-w-[196px] flex justify-center items-center" href="{{section.settings.btn-url}}" class="view-all-stories">{{section.settings.btn-title}}</a>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Stories Section",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Section Title"
      },
      {
        "type": "text",
        "id": "btn-title",
        "label": "Button Title"
      },
      {
        "type": "url",
        "id": "btn-url",
        "label": "Button Title"
      }
    ],
    "blocks": [
     {
       "name": "Stories",
       "type": "stories",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
            "type": "text",
            "id": "story-title",
            "label": "Story Title"
         },
         {
            "type": "text",
            "id": "sub-title",
            "label": "Sub-Title"
         },
         {
            "type": "text",
            "id": "read-story",
            "label": "Link Title"
         },
         {
            "type": "url",
            "id": "url",
            "label": "Story Url"
         }
       ]
     }
  ],
    "presets": [
      {
        "name": "Stories Section",
        "settings": {
        }
      }
    ]
  }
{% endschema %}